@use 'vars' as *;

header{
    padding: 0;
    .container{
        display: flex;
        height: 100vh;
        position: relative;

        .redline{
            background-color: $main_color;
            display: flex;
            align-items: center;
            height: 100%;
            width:250px;
            margin: 0 auto;

            .logo{
                background-color:white;
                padding: 20px 0;
                width:250px;
                margin: 200px auto auto auto;
            }
        }

        .contacts{
            position: absolute;
            width:100%;
            max-width: 500px;
            min-width: 310px;
            padding: 20px 10px;
            left: calc(50% - 260px);
            top:400px;
            background-color: white;
            text-align: center;
            border-top:1px solid $main_color;
            border-bottom:1px solid $main_color;

            .phone_main {
                font-size: 20px;
                font-weight: bold;

                line-height: 1.5;
            }
        }

        label{
            text-align: left;
        }
    }

}



@media (max-width: 480px) {
    header  {
        .container {
            .redline{
                height: 110%;
                .logo{
                    margin: 70px auto auto auto;
                }
            }
            .contacts {
                left: 0;
                width:calc(100% - 20px);
                top:250px;
                margin-bottom: 100px;
            }
        }
    }
}
